---
// Import the necessary dependencies.
import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import Icon from "@components/ui/icons/Icon.astro";
import SocialMediaLinks from "@components/ui/blocks/SocialMediaLinks.astro";

// Define the variables that will be used in this component
const title: string = "Contact";
const subTitle: string =
  "Do you have questions or need a transport service? Contact me and let's find the perfect logistics solution for your needs.";
const formTitle: string = "Complete the form";
const formSubTitle: string = "I will respond within 1-2 business days.";
---

<!-- Contact Us -->
<section id="contacto" class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <div class="mt-12 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
      <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8 shadow-xl shadow-black/30 dark:shadow-xl dark:shadow-black/30">
        <h2
          class="mb-8 text-xl font-bold text-neutral-700 dark:text-neutral-300"
        >
          {formTitle}
        </h2>
        <!-- Form for user input with various input fields.-->
        <!-- Each field utilizes a different input component for the specific type of input (text, email, phone, and textarea)-->
        <form>
          <div class="grid gap-4">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <TextInput
                id="hs-firstname-contacts"
                label="First Name"
                name="hs-firstname-contacts"
              />
              <TextInput
                id="hs-lastname-contacts"
                label="Last Name"
                name="hs-firstname-contacts"
              />
            </div>
            <EmailContactInput id="hs-email-contacts" />
            <PhoneInput id="hs-phone-number" />
            <TextAreaInput
              id="hs-about-contacts"
              label="Service Details"
              name="hs-about-contacts"
            />
          </div>

          <div class="mt-4 grid">
            <AuthBtn title="Send Message" />
          </div>

          <div class="mt-3 text-center">
            <p class="text-sm text-neutral-600 dark:text-neutral-400">
              {formSubTitle}
            </p>
          </div>
        </form>
      </div>

      <!--ContactIconBlocks are used to display different methods of contacting, including visiting office, email, browsing knowledgebase, and FAQ.-->
      <div class="divide-y divide-neutral-300 dark:divide-neutral-700">
        <ContactIconBlock
          heading="Social Media"
          content="Follow us on our social media to stay updated."
          isLinkVisible={false}
        >
          <div class="text-neutral-600 dark:text-white/70 opacity-90">
            <Icon name="socialMedia" class="h-8 w-8 fill-neutral-600 text-neutral-600 dark:fill-white/70 dark:text-white/70 opacity-90" />
          </div>
          <div slot="additional-content" class="mt-2">
            <SocialMediaLinks />
          </div>
        </ContactIconBlock>

        <ContactIconBlock
          heading="Contact Phones"
          content="Landline: +34 663 528 406"
          isLinkVisible={true}
          linkTitle="Call Now"
          linkURL="tel:+34663528406"
          isArrowVisible={false}
          ><div class="text-neutral-600 dark:text-white/70 opacity-90">
            <Icon name="phone" class="h-8 w-8 fill-neutral-600 text-neutral-600 dark:fill-white/70 dark:text-white/70 opacity-90" />
          </div>
          <div slot="additional-content" class="mt-2">
            <a 
              href="https://wa.me/34663528406" 
              target="_blank" 
              rel="noopener noreferrer"
              class="inline-flex items-center gap-x-2 rounded-lg text-sm font-medium text-zinc-600 outline-hidden ring-zinc-500 transition duration-300 hover:text-zinc-800 focus-visible:ring-3 dark:text-zinc-400 dark:ring-zinc-200 dark:hover:text-zinc-200 dark:focus:outline-hidden dark:focus:ring-1"
            >
              <Icon name="whatsappContact" class="h-5 w-5 fill-neutral-600 text-neutral-600 dark:fill-white/70 dark:text-white/70 opacity-90" />
              <span>Contact via WhatsApp</span>
            </a>
          </div>
        </ContactIconBlock>

        <ContactIconBlock
          heading="Visit our office"
          content="TransCar"
          isAddressVisible={true}
          addressContent="Calle Ávila N.º 25, 3-4. Amposta (43870), Tarragona, España."
          ><div class="text-neutral-600 dark:text-white/70 opacity-90">
            <Icon name="mapPin" class="h-8 w-8" />
          </div>
        </ContactIconBlock>

        <ContactIconBlock
          heading="Contact by email"
          content="Prefer to write to us? Send us an email at"
          isLinkVisible={true}
          linkTitle="carmen_consta@yahoo.com"
          linkURL="#"
          ><div class="text-neutral-600 dark:text-white/70 opacity-90">
            <Icon name="envelopeOpen" class="h-8 w-8" />
          </div>
        </ContactIconBlock>
      </div>
    </div>
  </div>
</section>

<!-- Google Maps Section -->
<section class="mx-auto max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8 lg:pb-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="overflow-hidden rounded-xl border border-neutral-200 p-1.5 dark:border-neutral-700 shadow-xl shadow-black/30 dark:shadow-xl dark:shadow-black/30">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!4v1748119538688!6m8!1m7!1s-lePA5aD_988kaWdZnCzWA!2m2!1d40.70330040494123!2d0.5813624626322988!3f58.71223795870716!4f1.6904267733755063!5f0.4000000000000002"
        width="100%"
        height="500"
        style="border:0; display: block; width: 100%; height: 100%; min-height: 500px;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="rounded-lg w-full h-full"
        title="Location of our office"
      ></iframe>
    </div>
  </div>
</section>
